body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
}
#u541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:572px;
  width:102px;
  height:26px;
}
#u543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:572px;
  width:87px;
  height:26px;
}
#u544_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:40px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-31px;
  width:212px;
  height:40px;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:570px;
  width:1024px;
  height:30px;
}
#u546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:572px;
  width:55px;
  height:26px;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:572px;
  width:104px;
  height:26px;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:572px;
  width:102px;
  height:26px;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:572px;
  width:87px;
  height:26px;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:572px;
  width:102px;
  height:26px;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:572px;
  width:186px;
  height:26px;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:572px;
  width:102px;
  height:26px;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:572px;
  width:104px;
  height:26px;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:40px;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:6px;
  width:163px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:4px;
  width:32px;
  height:32px;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:3px;
  width:93px;
  height:35px;
}
#u564_img.selected {
}
#u564.selected {
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:11px;
  width:42px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u565_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u565.selected {
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:4px;
  width:32px;
  height:32px;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:248px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u568_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u568.selected {
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:43px;
  width:193px;
  height:24px;
}
#u569_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:43px;
  width:79px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u570_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u570.mouseOver {
  opacity:0.9;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:69px;
  word-wrap:break-word;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:43px;
  width:102px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u572_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u572.mouseOver {
  opacity:0.9;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:92px;
  word-wrap:break-word;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:46px;
  width:20px;
  height:20px;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:43px;
  width:102px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u575_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u575.mouseOver {
  opacity:0.9;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:92px;
  word-wrap:break-word;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:44px;
  width:20px;
  height:20px;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:43px;
  width:102px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u578_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u578.mouseOver {
  opacity:0.9;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:92px;
  word-wrap:break-word;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:48px;
  width:16px;
  height:16px;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:350px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:338px;
  word-wrap:break-word;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:77px;
  width:16px;
  height:16px;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:78px;
  width:663px;
  height:484px;
  overflow:hidden;
  visibility:hidden;
}
#u583_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:484px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u583_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:481px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:481px;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:13px;
  width:82px;
  height:22px;
  font-size:13px;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:78px;
  word-wrap:break-word;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:450px;
  width:88px;
  height:22px;
  font-size:13px;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:84px;
  word-wrap:break-word;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:53px;
  width:350px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u589_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u589.selected {
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:338px;
  word-wrap:break-word;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:57px;
  width:266px;
  height:32px;
}
#u590_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:93px;
  width:350px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u592_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u592.selected {
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:338px;
  word-wrap:break-word;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:97px;
  width:266px;
  height:32px;
}
#u593_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:133px;
  width:350px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u595_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u595.selected {
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:338px;
  word-wrap:break-word;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:137px;
  width:266px;
  height:32px;
}
#u596_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:173px;
  width:350px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u598_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u598.selected {
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:338px;
  word-wrap:break-word;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:177px;
  width:58px;
  height:32px;
}
#u599_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u599_input:disabled {
  color:grayText;
}
#u599_ann {
  border-width:0px;
  position:absolute;
  left:347px;
  top:173px;
  width:1px;
  height:1px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:213px;
  width:350px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u601_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u601.selected {
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:338px;
  word-wrap:break-word;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:225px;
  width:16px;
  height:16px;
}
#u602_img.selected {
}
#u602.selected {
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_ann {
  border-width:0px;
  position:absolute;
  left:341px;
  top:221px;
  width:1px;
  height:1px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:253px;
  width:350px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u604_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u604.selected {
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:338px;
  word-wrap:break-word;
}
#u604_ann {
  border-width:0px;
  position:absolute;
  left:347px;
  top:249px;
  width:1px;
  height:1px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:257px;
  width:58px;
  height:32px;
}
#u605_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u605_input:disabled {
  color:grayText;
}
#u605_ann {
  border-width:0px;
  position:absolute;
  left:347px;
  top:253px;
  width:1px;
  height:1px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:202px;
  width:300px;
  height:130px;
  overflow:hidden;
  visibility:hidden;
}
#u606_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u606_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:44px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:38px;
  width:28px;
  height:28px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:91px;
  width:80px;
  height:25px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:91px;
  width:80px;
  height:25px;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u606_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u606_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:300px;
  height:92px;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:55px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:51px;
  width:28px;
  height:28px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:450px;
  width:88px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u616_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u616.mouseOver {
  opacity:0.9;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:78px;
  word-wrap:break-word;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:455px;
  width:16px;
  height:10px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:104px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u619_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u619.selected {
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:100px;
  width:246px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u620_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u620.selected {
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:234px;
  word-wrap:break-word;
}
