body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7816 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:572px;
  width:102px;
  height:26px;
}
#u7817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u7818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:572px;
  width:87px;
  height:26px;
}
#u7819 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u7820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:40px;
}
#u7820 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-31px;
  width:212px;
  height:40px;
}
#u7821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:570px;
  width:1024px;
  height:30px;
}
#u7823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7825 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:572px;
  width:55px;
  height:26px;
}
#u7826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u7827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7827 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:572px;
  width:104px;
  height:26px;
}
#u7828 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u7829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7830 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:572px;
  width:102px;
  height:26px;
}
#u7831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u7832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:572px;
  width:87px;
  height:26px;
}
#u7833 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u7834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7835 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:572px;
  width:102px;
  height:26px;
}
#u7836 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u7837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7837 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:572px;
  width:186px;
  height:26px;
}
#u7838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u7839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7840 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:572px;
  width:102px;
  height:26px;
}
#u7841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u7842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7842 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:572px;
  width:104px;
  height:26px;
}
#u7843 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u7844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:40px;
}
#u7845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7847 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:6px;
  width:163px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7848 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u7849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7849 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:4px;
  width:32px;
  height:32px;
}
#u7850 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
}
#u7852 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:3px;
  width:93px;
  height:35px;
}
#u7852_img.selected {
}
#u7852.selected {
}
#u7853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u7854 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:11px;
  width:42px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u7854_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u7854.selected {
}
#u7855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u7856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7856 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:4px;
  width:32px;
  height:32px;
}
#u7857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7859 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:150px;
  width:200px;
  height:120px;
}
#u7859_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7859.selected {
}
#u7860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7861 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:223px;
  width:179px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u7863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7863 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:161px;
  width:64px;
  height:64px;
}
#u7864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7866 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:150px;
  width:191px;
  height:120px;
}
#u7866_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7866.selected {
}
#u7867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7868 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:223px;
  width:171px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:171px;
  word-wrap:break-word;
}
#u7870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7870 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:161px;
  width:64px;
  height:64px;
}
#u7871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7873 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:150px;
  width:200px;
  height:120px;
}
#u7873_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7873.selected {
}
#u7874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7875 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:223px;
  width:179px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u7877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7877 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:161px;
  width:64px;
  height:64px;
}
#u7878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
