body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8742 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:572px;
  width:102px;
  height:26px;
}
#u8743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u8744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:572px;
  width:87px;
  height:26px;
}
#u8745 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u8746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:40px;
}
#u8746 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-31px;
  width:212px;
  height:40px;
}
#u8747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:570px;
  width:1024px;
  height:30px;
}
#u8749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8751 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:572px;
  width:55px;
  height:26px;
}
#u8752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u8753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8753 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:572px;
  width:104px;
  height:26px;
}
#u8754 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u8755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8756 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:572px;
  width:102px;
  height:26px;
}
#u8757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u8758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:572px;
  width:87px;
  height:26px;
}
#u8759 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u8760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8761 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:572px;
  width:102px;
  height:26px;
}
#u8762 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u8763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8763 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:572px;
  width:186px;
  height:26px;
}
#u8764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u8765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8766 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:572px;
  width:102px;
  height:26px;
}
#u8767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u8768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8768 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:572px;
  width:104px;
  height:26px;
}
#u8769 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u8770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:40px;
}
#u8771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8773 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:6px;
  width:163px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8774 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u8775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8775 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:4px;
  width:32px;
  height:32px;
}
#u8776 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
}
#u8778 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:3px;
  width:93px;
  height:35px;
}
#u8778_img.selected {
}
#u8778.selected {
}
#u8779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u8780 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:11px;
  width:42px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u8780_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u8780.selected {
}
#u8781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u8782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8782 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:4px;
  width:32px;
  height:32px;
}
#u8783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u8785 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:189px;
  width:200px;
  height:120px;
  font-size:25px;
}
#u8785_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:25px;
}
#u8785.selected {
}
#u8786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u8787 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:262px;
  width:179px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u8788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:179px;
  word-wrap:break-word;
}
#u8789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u8789 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:198px;
  width:64px;
  height:64px;
  font-size:25px;
}
#u8790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u8792 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:189px;
  width:200px;
  height:120px;
  font-size:25px;
}
#u8792_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:25px;
}
#u8792.selected {
}
#u8793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u8794 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:262px;
  width:179px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u8795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:179px;
  word-wrap:break-word;
}
#u8796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u8796 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:198px;
  width:64px;
  height:64px;
  font-size:25px;
}
#u8797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u8799 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:189px;
  width:200px;
  height:120px;
  font-size:25px;
}
#u8799_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:25px;
}
#u8799.selected {
}
#u8800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u8801 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:262px;
  width:179px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u8802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:179px;
  word-wrap:break-word;
}
#u8803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u8803 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:200px;
  width:64px;
  height:64px;
  font-size:25px;
}
#u8804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u8806 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:189px;
  width:200px;
  height:120px;
  font-size:25px;
}
#u8806_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:25px;
}
#u8806.selected {
}
#u8807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u8808 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:262px;
  width:179px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u8809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:179px;
  word-wrap:break-word;
}
#u8810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u8810 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:198px;
  width:64px;
  height:64px;
  font-size:25px;
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
